<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8"><title>Top Restaurant</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="/static/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Top Restaurant</title>
</head>
<body>
    {% include 'includes/header.html' %}

    <main>
        <h2 style="font-size: 20px">Top Restaurant:</h2> 
        <img src="{{restaurant.get('image_ur')}}" alt = "Restaurant Photo" 
        height=100 width = 100>
        <hr>
        <p style="font-size: 13px">Name:<strong>{{restaurant.get('name') }}</strong></p>
        <hr>

        <hr>
        <p>Rating:<strong>{{restaurant.get('rating')}}</strong></p>
        <hr>

        <hr>
        <p>Location: <strong>{{location}}</strong></p>
        <hr>
        <hr>
        <p>Search term: <strong>{{search_term or 'None Specified'}}</strong></p>
        <hr>
    </main>
</body>
</html>

